@using HomeWallet.Models.ReceiptViewModels
@using HtmlHelpers.BeginCollectionItemCore
@model HomeWallet.Models.ReceiptViewModels.AddProductViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}
<div class="listproduct">
  @using (Html.BeginCollectionItem(nameof(CreateReceiptViewModel.Products)))
  {

    @Html.HiddenFor(model => model.Price)
    @Html.HiddenFor(model => model.Amount)
    @Html.HiddenFor(model => model.Product.Name)
    @Html.HiddenFor(model => model.Product.ID)

      <div class="col-md-12">
          <div class="col-md-2">
            <button class="btn btn-danger" type="button" id="removeproductbutton"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
          <div class="col-md-4">
              @Html.DisplayFor(model => model.Product.Name)
          </div>
          <div class="col-md-2">
              @Html.DisplayFor(model => model.Amount)
          </div>
          <div class="col-md-2">
              @Html.DisplayFor(model => model.Price)
          </div>
          <div class="col-md-2 producttotal">
              @Html.DisplayFor(model => model.Total)
          </div>
      </div>
    
    
  }
</div>